.regresar-contenedor {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.regresar-boton {
  font-family: 'Press Start 2P', cursive;
  background-color: rgba(31, 5, 40, 0.8);
  border: 2px solid #ff6ec7;
  color: #ff6ec7;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 0 15px #ff6ec7;
  transition: all 0.3s ease-in-out;
}

.regresar-boton:hover {
  background-color: #ff6ec7;
  color: #1f0528;
  box-shadow: 0 0 20px #ff6ec7;
}
